{% extends "_base.html" %}

{% block main %}

<main class="forms">

    <form action="./index.php?action=form&type={% if article %}update&id={{ article.id_article }}{% else %}ajout{% endif %}" method="post">

        <div>
            <label for="titre">Titre :</label><input type="text" name="titre" value="{{ article.titre_article }}">
        </div>

        <div>
            <label for="cat">Catégorie :</label>
            <select name="categorie">

                {% for cat in Liste %}
                    
                    <option value=" {{ cat.id_cat }} "> {{ cat.nom_cat }} </option>

                {% endfor %}
            
            </select>
        </div>

        <textarea name="contenu" id="editor">{{ article.contenu_article }}</textarea>

        <input type="submit" name="Poster" value="Poster">

    </form>

</main>

{% endblock %}